@font-face {
  font-family: "Samurai Warrior";
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/SamuraiWarrior.otf) format("opentype");
}

body {
  background-image: url(./images/background.jpg);
}

#menu {
  height: 80vh;
  width: 60vw;
  left: 400px;
  font-size: 1em;
  justify-content: space-around;
}

.header {
  font-family: "Samurai Warrior";
  font-size: 2em;
  background-color: #ffe190;
  background-image: linear-gradient(316deg, #ffe190 0%, #fa9e8c 34%);
  opacity: 0.7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1.5s;
}

.title {
  font-size: 2.5em;
  margin-left: 50px;
}

.tabcontent {
  position: absolute;
  top: 150px;
  left: 500px;
  height: 80vh;
  width: 50vw;
  background: black;
  opacity: 0.7;
  border: 2px solid black;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  animation: fadeIn 1.5s;
}

.heading {
  font-family: "Samurai Warrior";
  font-size: 5em;
  color: white;
  margin-top: 10px;
}

.image {
  height: 450px;
  width: 350px;
  padding: 10px;
  border-radius: 20%;
}

.text {
  font-family: "Samurai Warrior";
  font-size: 2em;
  text-align: center;
  color: white;
  margin: 10px;
}

ul {
  display: flex;
  gap: 60px;
  margin: 20px;
}

.tablink {
  font-size: 1em;
}

.tablink:hover {
  cursor: pointer;
  font-size: 2.2em;
  color: red;
  animation: shake 0.82s cubic-bezier(0.36, 0.7, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.menu-container {
  background-color: rgb(90, 1, 1);
  border-radius: 10px;
  height: 60vh;
  width: 45vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.menu-image {
  display: block;
  width: 290px;
  height: 210px;
  border-radius: 15px;
  border-bottom: 4px solid black;
}

.label {
  font-family: "Samurai Warrior";
  color: white;
  font-size: 2.5em;
  margin-top: -2.4rem;
  padding-top: 5px;
  height: 40px;
  width: 290px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
